SSLRequireSSL
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^v(\d+)/(\w+)/(\w+)(?:/(.*))?$ index.php?v=$1&endpoint=$2&method=$3&params=$4 [QSA,L]
</IfModule>
